<header class="">
    <div class="">
        <div class="">
            <div class="">
                <nav class="">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="">
                        <img [src]="imageUrl" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="">
                        <li><a href="index.html" class="">Home</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="details.html">Item Details</a></li>
                        <li><a href="author.html">Author</a></li>
                        <li><a href="create.html">Create Yours</a></li>
                    </ul>   
                    <a class=''>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
