<header class=" fixed top-0 lg:w-[92%] m-14 rounded-full bg-slate-50" >
    <div class="">
        <div class="">
            <div class="">
                <nav class=" flex flex-row items-center p-4 justify-between">
                   
                    <a href="index.html" class="">
                        <img class="" src="assets/images/logo.png" alt="">
                    </a>
                    
                    <ul class=" flex flex-row gap-10">
                        <li class=" hover:bg-violet-500 p-3 hover:text-white rounded-full font-medium "><a href="index.html" class="">Home</a></li>
                        <li class=" hover:bg-violet-500 p-3 hover:text-white rounded-full font-medium "><a href="explore.html">Explore</a></li>
                        <li class=" hover:bg-violet-500 p-3 hover:text-white rounded-full font-medium "><a href="details.html">Item Details</a></li>
                        <li class=" hover:bg-violet-500 p-3 hover:text-white rounded-full font-medium "><a href="author.html">Author</a></li>
                        <li class=" hover:bg-violet-500 p-3 hover:text-white rounded-full font-medium "><a href="create.html">Create Yours</a></li>
                    </ul>   
                   
                </nav>
            </div>
        </div>
    </div>
  </header>
