<header class="m-10 rounded-full" >
    <div class="">
        <div class="">
            <div class="">
                <nav class=" flex flex-row items-center p-10 justify-between">
                   
                    <a href="index.html" class="">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                    
                    <ul class=" flex flex-row gap-10">
                        <li class=" hover:bg-violet-500 p-3 rounded-full"><a href="index.html" class="">Home</a></li>
                        <li class=" hover:bg-violet-500 p-3 rounded-full"><a href="explore.html">Explore</a></li>
                        <li class=" hover:bg-violet-500 p-3 rounded-full"><a href="details.html">Item Details</a></li>
                        <li class=" hover:bg-violet-500 p-3 rounded-full"><a href="author.html">Author</a></li>
                        <li class=" hover:bg-violet-500 p-3 rounded-full"><a href="create.html">Create Yours</a></li>
                    </ul>   
                   
                </nav>
            </div>
        </div>
    </div>
  </header>
