<div class="flex flex-col gap-8" *ngIf="slides.length">
    <div class="overflow-hidden">
      <div class="whitespace-nowrap transition-transform duration-500" [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'">
        <div *ngFor="let slide of slides" class="inline-block w-full h-full">
          <img [src]="slide.src" [alt]="slide.alt" class="w-full h-full object-cover"/>
        </div>
      </div>
    </div>
    <div class=" flex flex-row gap-3 justify-center">
    <button (click)="prevSlide()" class=" w-14 h-14 transform -translate-y-1/2 bg-white text-white p-2 rounded-full focus:outline-none z-10">
      <span class=" text-violet-600">&#10094;</span>
    </button>
    <button (click)="nextSlide()" class=" w-14 h-14 transform -translate-y-1/2 bg-white text-white p-2 rounded-full focus:outline-none z-10">
      <span class=" text-violet-600">&#10095;</span>
    </button>
</div>
  </div>

  
  
  
 

  


