<div class=" h-screen w-screen bg-[url('/assets/images/dark-bg.jpg')] text-white p-20">
    <div class="flex flex-row justify-between">
        <div class="h-[2px] w-20 bg-violet-600"></div>
        <ul class="flex flex-row gap-5">
            <li class="p-2  hover:bg-blue-600 text-white   rounded-full font-medium">All Items</li>
            <li class="p-2  hover:bg-blue-600 text-white   rounded-full font-medium">usic Art</li>
            <li class="p-2  hover:bg-blue-600 text-white   rounded-full font-medium">Digital Art</li>
            <li class="p-2  hover:bg-blue-600 text-white   rounded-full font-medium">Blockchain</li>
            <li class="p-2  hover:bg-blue-600 text-white   rounded-full font-medium">Virtual</li>
          </ul>
    </div>
    <h2 class=" text-white text-3xl font-bold"><strong class="text-blue-600">Items</strong> Currently In The Market.</h2>

</div>
